body{
	background-color: #E0DAD6;
}
#conteneur{
	display: flex;
	flex-direction: row;
	min-height: 80vh;
}

/* --------------HEADER------------ */
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	text-align:left;
	padding:1%;
	background-color: #67690A;
	border-bottom: 3px solid black;
}
h1{
	flex: 1 1 100%;
	margin:0;
}
#infosConnexion{
	 flex-shrink:0;
	 text-align: center;
}
#quitter a{
	color:#D5C4C4;
}
/* --------------FIN_HEADER------------ */
/* --------------MENU&NAV -------------- */
nav{
	background-color: #67690A;
	padding-right:5px;
	border-right: 3px solid black;
	max-width: 22%;
}
#navigation li a{
	text-decoration: none;
	font-weight: bold;
}
.toggleSubMenu{
	padding-bottom: 10px;
}
.toggleSubMenu a:hover{
	color:#1E0E48;
}
.subMenu li:first-of-type{
	margin-top: 10px;
}
.subMenu li{
	border-top: 1px solid black;
	padding: 5px 0 5px 0;
	font-size: 0.8em;
}
.subMenu li:hover{
	background-color:#8F9226; 
}
#navigation .subMenu li a{
	text-decoration: none;
	font-weight: normal;
	color: #1E0E48;
}
#navigation, .subMenu{
	list-style: none;
	text-decoration: none;
	text-align: center;
	padding:0;
}

.moduleConteneur{
	padding: 4px;
	margin-left: 3px;
	border-radius:7px;
	border: 2px solid black;
	font-size: 1.2em;
}
.moduleConteneur a{
	color:black;

}

/* <ul id="navigation">
	<li class="toggleSubMenu">
		<div class="moduleConteneur">
			<ul class="subMenu">
				<li>
					<a> */


/* --------------FIN NAV -------------- */

/* --------------FOOTER -------------- */
footer{
	background-color: #67690A;
	border-top: 3px solid black;
	padding: 0 3% 0 3%;
	height:50px;
	text-align: center;
}
/* --------------FIN FOOTER -------------- */

/* --------------MAIN GLOBAL -------------- */
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 5px auto;
}
/* --------------FIN MAIN GOBAL -------------- */
#completeFolder{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	border: 3px solid black;
	padding: 0 2% 2% 2%;
	margin-bottom: 5px;
}
#contentFolder, #contentAffectations, #contentAppartenances, #contentGrades, #diplomes {
	border-bottom: 3px solid black;
}


h2{
	text-align: center;
}

/*--CSS--ChampDeConnexion----*/
#connexionForm{
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 15px;
	border: 1px solid black;
	padding: 8%;
	text-align:center;
}
#connexionForm .connexionChamps{
	width:40%;
	padding-bottom:1%;
	margin-bottom:1%;
}
#connexionForm #connexionBouton{
	padding:1%;
}
.pPublicHome{
	text-align:center;
}
/*--CSS--Navigation----*/

/*------------------------------------*/
/*--CSS--Affichage de tous les articles*/
#listeDossier{
	list-style: none;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding:0;
	min-width: 100%;
}

#listeDossier li{
	display:flex;
	flex: 1 1 100%;
	border:1px solid grey;
	padding:10px 10px 10px 10px;
}
#listeDossier li a:first-child{
	flex:1;
}
#listeDossier li a:nth-child(2){
	flex:0;
}
#listeDossier li a:nth-child(3){
	flex:0;
}

/*------------------------------------*/
/*--CSS--Formulaire de recherche de dossier */
.ui-autocomplete-input{
	min-width: 250px;
}
#formSearch{
	display: flex;
	justify-content: center;
}
#formSearch label{
	padding-right: 10px;
}
#formSearch #search{
	width:250px;
	text-align: center;
	margin-right: 10px;
}
/*------------------------------------*/
/*--CSS--Formulaire de saisie d'article*/
#errorFieldDossierForm{
	width:100%;
	background: red;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}
.titreFormulaire{
	padding: 20px 3% 0 3%;
	margin: 0 2% 0 2%;
}
#formSaisieDossier{
	display:flex;
	padding:20px 0 20px 0;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: left;
}
#formSaisieDossier label{
	min-width: 17%;
	max-width: 25%;
	padding-left: 10px;
	margin-right: 4px;
}
#formSaisieDossier input, #formSaisieDossier textarea, #formSaisieDossier select{
	flex: 1 1 70%;
	margin-right: 10px;
	text-align: left;
}
main #formSaisieDossier #boutonOk{
	flex:0 0 15%;
	max-width:30%;
	margin: 20px auto 0 auto;
}
#formSaisieDossier .dossierFormErrors{
	font-size: 0.6em;
	color: red;
	font-style: italic;
}
#formSaisieDossier .errorOnField{
	color:red;
}

@media screen and (max-device-width: 1442px) {
  	#formSaisieDossier label{
		min-width: 13%;
		max-width: 25%;
		padding-left: 10px;
		margin-right: 4px;
	}
}

@media screen and (max-device-width: 850px) {
  	#formSaisieDossier label{
		min-width: 13%;
		max-width: 25%;
		padding-left: 10px;
		margin-right: 4px;
		text-align: center;
	}
	#formSaisieDossier input, #formSaisieDossier textarea, #formSaisieDossier select{
	flex: 1 1 95%;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
}
}

/*------------------------------------*/
/*--CSS--Tableau---------------------*/
table{
	max-width: 700px;
	display: block;
	margin: 0 auto 0 auto;
	width: 100%;
	border: 1px;
	overflow:scroll;
}