body{
	background-color: #717751;
	margin:0;
}
#conteneur{
	display: flex;
	flex-direction: row;
	min-height: 80vh;
	background-color: #c1b79e;
}

/* --------------HEADER------------ */
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	text-align:left;
	padding:1%;
	background-color: #717751;
	border-bottom: 3px solid #331a00;
}
h1{
	flex: 1 1 100%;
	margin:0;
}
#infosConnexion{
	 flex-shrink:0;
	 text-align: center;
}
#quitter a{
	color:#D5C4C4;
}
/* --------------FIN_HEADER------------ */
/* --------------MENU&NAV -------------- */
nav{
	background-color: #717751;
	padding-right:5px;
	border-right: 3px solid #331a00;
	max-width: 22%;
}
#navigation li a{
	text-decoration: none;
	font-weight: bold;
}
.toggleSubMenu{
	padding-bottom: 10px;
}

.subMenu li:first-of-type{
	margin-top: 10px;
}
.subMenu li{
	border-top: 2px solid #331a00;
	padding: 5px 0 5px 0;
	font-size: 0.8em;
}
.toggleSubMenu a:hover{
	color: #c1b79e;
}
.subMenu li:hover{
	background-color: #6b4f3a; 
}
#navigation .subMenu li a{
	text-decoration: none;
	font-weight: normal;
	color: #c1b79e;
}
#navigation, .subMenu{
	list-style: none;
	text-decoration: none;
	text-align: center;
	padding:0;
}

.moduleConteneur{
	padding: 4px;
	margin-left: 3px;
	border-radius:7px;
	border: 3px solid #331a00;
	font-size: 1.2em;
}
.moduleConteneur a{
	color:black;

}

/* --------------FIN NAV -------------- */

/* --------------FOOTER -------------- */
footer{
	background-color: #717751;
	border-top: 3px solid #331a00;
	padding: 0 3% 0 3%;
	height: 50px;
	text-align: center;
}
/* --------------FIN FOOTER -------------- */

/* --------------MAIN GLOBAL -------------- */
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto auto auto;
}
/* --------------FIN MAIN GOBAL -------------- */

/*--CSS--ChampDeConnexion----*/
#verticalAlign{
	display: flex;
	flex:1 1 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#verticalAlign form{
	align-self: center;
}

#connexionForm {
	max-width: 350px;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#connexionForm h2 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 2em;
	line-height:34px;
	color: #331a00;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}
#connexionForm p {
	padding: 0 4px 0 4px;
	font-size: 0.9em;
	line-height: 16px;
	color: #717751;
	text-align:center;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

#connexionForm .content {
	padding: 0 30px 25px 30px;
}
#connexionForm .content input {
	width: 80%;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
#connexionForm input {
	margin-top: 25px;
}

#connexionForm .content input:hover {
	background: #c1b79e;
	color: #331a00;
}

#connexionForm .content input:focus {
	background: #c1b79e;
	color: #331a00;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

/* Login button */
#connexionForm #connexionBouton {
	padding: 11px 25px;
	display:block;
	margin:auto;
	margin-bottom: 5px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #6b4f3a;
	border: 1px solid #331a00;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

#connexionForm #connexionBouton:hover {
	background: #717751;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

#connexionForm #connexionBouton:focus {
	position: relative;
	bottom: -1px;
	
	background: #717751;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* 
#connexionForm{
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 15px;
	border: 1px solid #6b4f3a;
	padding: 8%;
	text-align:center;
}
#connexionForm .connexionChamps{
	width:40%;
	padding-bottom:1%;
	margin-bottom:1%;
}
#connexionForm #connexionBouton{
	padding:1%;
}
.pPublicHome{
	text-align:center;
} */

/*--CSS--Affichage de tous les articles*/
#listeDossier{
	list-style: none;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding:0;
	min-width: 100%;
}

#listeDossier li{
	display:flex;
	flex: 1 1 100%;
	border:1px solid #6b4f3a;
	padding:10px 10px 10px 10px;
}
#listeDossier li a:first-child{
	flex:1;
}
#listeDossier li a:nth-child(2){
	flex:0;
}
#listeDossier li a:nth-child(3){
	flex:0;
}

@media screen and (min-device-width: 1250px) {
	#listeDossier{
		min-width: 700px;
	}
}



/*------------------------------------*/
/* ------- AFFICHAGE D'UN DOSSIER ---------*/
#completeFolder{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	border: 3px solid #6b4f3a;
	padding: 0 2% 2% 2%;
	margin-bottom: 5px;
	min-width: 500px;
}
#contentFolder, #contentAffectations, #contentAppartenances, #contentGrades{
	border-bottom: 3px solid #6b4f3a;
}

h2{
	text-align: center;
}

@media screen and (max-device-width: 850px) {
	#completeFolder{
		border-radius: 0px;
		border: 0px;
	}
}

@media screen and (min-device-width: 1600px) {
	#completeFolder{
		min-width: 700px;
	}
}
/* ------- FIN AFFICHAGE D'UN DOSSIER ---------*/

/*--CSS--Formulaire de recherche de dossier */
.ui-autocomplete-input{
	min-width: 250px;
}
#formSearch{
	display: flex;
	justify-content: center;
}
#formSearch label{
	padding-right: 10px;
}
#formSearch #search{
	width:250px;
	text-align: center;
	margin-right: 10px;
}
/*------------------------------------*/
/*--CSS--Formulaire de saisie---------*/
#errorFieldDossierForm{
	width:100%;
	background: red;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}
.titreFormulaire{
	padding: 20px 3% 0 3%;
	margin: 0 2% 0 2%;
}
#formSaisieDossier{
	display:flex;
	max-width:500px;
	padding:20px 0 20px 0;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: left;
}
#formSaisieDossier label{
	min-width: 17%;
	max-width: 25%;
	padding-left: 10px;
	margin-right: 4px;
	font-weight:bold;
	margin-bottom:10px;
}
#formSaisieDossier input, #formSaisieDossier textarea, #formSaisieDossier select{
	flex: 1 1 60%;
	margin-right: 10px;
	text-align: left;
	margin-bottom:10px;
	font-style:italic;
}
main #formSaisieDossier #boutonOk{
	flex:0 0 15%;
	max-width:30%;
	text-align:center;
	margin: 20px auto 0 auto;
}
#formSaisieDossier .dossierFormErrors{
	font-size: 0.9em;
	color: red;
	font-style: italic;
}
#formSaisieDossier .errorOnField{
	color:red;
}

@media screen and (min-device-width: 1250px) {
  	#formSaisieDossier{
		max-width:700px;
	}
	#formSaisieDossier label{
		width: 35%;
	}
	#formSaisieDossier input, #formSaisieDossier textarea, #formSaisieDossier select{
		flex: 1 1 50%;
	}
	main #formSaisieDossier #boutonOk{
		flex:0 0 25%;
	}
}

@media screen and (max-device-width: 850px) {
  	#formSaisieDossier label{
		min-width: 90%;
		max-width: 90%;
		padding-left: 0;
		margin-right: 0;
		margin-top: 10px;
		text-align: center;
	}
	#formSaisieDossier input, #formSaisieDossier textarea, #formSaisieDossier select{
		flex: 1 1 95%;
		margin-right: 5px;
		margin-left: 5px;
		text-align: center;
	}
}

/*------------------------------------*/
/*--CSS--Tableau---------------------*/
.tab{
	max-width: 700px;
	margin: 0 auto 0 auto;
	width: 100%;
	border: 1px solid #6b4f3a;
}
.tab th{
	padding:6px;
	background-color:#717751;
}
.tab td{
	padding:3px;
} 
@media screen and (min-device-width: 1300px) {
  	.tab{
		max-width: 900px;
	}
}

@media screen and (min-device-width: 1500px) {
  	.tab{
		max-width: 1100px;
	}
}

@media screen and (min-device-width: 1800px) {
  	.tab{
		max-width: 1400px;
	}
}

.tabLogs{
	border: 1px solid black;
}
.tabLogs th{
	text-align: center;
	padding:6px;
	background-color:#717751;
}
.tabLogs td{
	text-align: center;
	border-bottom: 1px solid white;
	padding:3px;
	color: white;
	background-color:black;
}
/*--FIN--Tableau---------------------*/

#coError{
	color: red!important;
}


/* Infobulle */
 
#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;
 
}
 
#tooltip .tipHeader {
    height:8px;
    background:url(images/tipHeader.gif) no-repeat;
}
 
/* hack IE */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color:#000;
    padding:5px;
}
 
#tooltip .tipFooter {
    height:8px;
    background:url(images/tipFooter.gif) no-repeat;
}

/* interface admin */
#adminDisplayContent{
	max-width:800px;
	padding: 5px;
}

#adminDisplayContent .block{
	border-bottom: 1px solid;
}

#adminDisplayContent .block h3{
	margin-top:40px;
}

#infoAction{
	color: red!important;
}